@{
  Layout = "_Layout";
}

@* @model Factory.Models.Tag;

<div class="headerpadding"></div>

<h4>Add a new Tag</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model.Title)
  @Html.TextBoxFor(model => model.Title)
} *@




<p>@Html.ActionLink("Add new tag", "Create", "Tags")</p>
<p>@Html.ActionLink("Add new machine", "Create", "Machines")</p>
<p>@Html.ActionLink("Add new engineer", "Create", "Engineers")</p>
