@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
@using Factory.Models;
@using System.Collections.Generic;

<div class=headerpadding></div>

<h4>Engineer Details</h4>
<hr />
<h4>@Html.DisplayNameFor(model => model.FirstName): @Html.DisplayFor(model => model.FirstName)</h4>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer isn't certified to maintain any machines.</p>
  <p>@Html.ActionLink("Add machines to this engineer", "AddMachine", new { id = Model.EngineerId })</p>
}
else
{
  <h4>Machines for which this engineer is certified:</h4>
  <ul>
    @foreach(EngineerMachine join in Model.JoinEntities)
    {
      <li>@join.Machine.Description</li>
      @using (Html.BeginForm("DeleteMachine", "Engineers"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete"/>
      }
      <p>@Html.ActionLink("Add another machine certification for this engineer", "AddMachine", new { id = Model.EngineerId })</p>
    }
  </ul>
}


<h4>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</h4>