@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
@using Factory.Models;
@using System.Collections.Generic;

<div class=headerpadding></div>

<h4>Edit This Engineer: @Html.DisplayFor(model => model.FirstName)</h4>
<hr />
<p>@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.FirstName)
  @Html.EditorFor(model => model.FirstName)

  <input type="submit" value="Update">
}
<h4>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</h4>
